packages: [
  "atom-beautify"
  "atom-jshint"
  "atom-terminal"
  "compass"
  "docblockr"
  "emmet"
  "file-icons"
  "gutter-shadow"
  "hyperclick"
  "jsformat"
  "jshint"
  "jsonlint"
  "language-rspec"
  "language-swift"
  "linter"
  "linter-less"
  "linter-eslint"
  "markdown-format"
  "markdown-helpers"
  "markdown-writer"
  "merge-conflicts"
  "minimap"
  "minimap-pigments"
  "monokai-seti"
  "node-debugger"
  "package-sync"
  "pigments"
  "pretty-json"
  "project-manager"
  "react"
  "seti-icons"
  "seti-syntax"
  "seti-ui"
  "seti-ui-red"
  "solarized-seti-ui"
  "Stylus"
  "svn"
  "terminal-status"
  "tidy-markdown"
  "toggle-quotes"
  "turbo-javascript"

]
